{% load static %}

<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top">
  
  <div class="container">

    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.jpeg' %}" alt="" class="logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Produtos</a>
        </li>

        <li class="nav-item">
          <form class="d-flex" role="search" action="{% url 'search' %}">
            <input class="form-control border-secondary text-center" name="keywords" type="text" placeholder="Pesquisar..."  value="{{ values.keywords }}">
          </form>
        </li>


        <li class='nav-item'>
          <a class='nav-link' href="#">
            <i class="fa-solid fa-cart-shopping"></i> Carrinho
          </a>
        </li>  

        
        {% if request.user.is_authenticated %}         
          <li class='nav-item'>
            <a class='nav-link' href="{% url 'logout' %}">
              <i class="fa-solid fa-right-from-bracket"></i> Sair
            </a>
          </li>  
        {% else %}
          <li class='nav-item'>
            <a class='nav-link' href="{% url 'login' %}">
              <i class="fa-solid fa-right-to-bracket"></i> Entrar
            </a>
          </li>
        {% endif %}




      </ul>





    </div>
  </div>
</nav>