{% extends 'base.html' %} 


{% block content %}
<!-- Ads Section -->
<section id="products" class="py-4">
  <div class="container mx-auto">
    <div class="row">
      {% if products %}
	 	    <div class='my-4 mx-auto col-sm col-md col-lg col-xl'>
		      <div class='card card-body my-5 w-75 mx-auto shadow'> 
		        <h4 class='font-weight-bold text-center font-italic'>Lista Produtos</h4>    
		        <hr>
		        <div class="table-responsive"> 
		          <table class='table table-sm table-md table-lg table-xl'> 
		            <thead>
		              <tr>
		                <th>Descrição</th>
		              </tr> 
		            </thead>  
          			<tbody>
      						{% for p in products %}
            				<tr>
			                <td>
			                	<a href="#">{{p.title}}</a>
			                	<a href="#">{{p.description}}</a>
			                </td> 
						        </tr>
      						{% endfor %}
          			</tbody>
        			</table> 
      			</div>  
					</div> 
    		</div>    
	    {% else %}
	      <div class="col-md-12">
	        <p>Sem Anúncios!!!</p>
	      </div>
	    {% endif %}
	  </div>
	</div>
</section>
{% endblock %}